<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bzha2709.comp5216.sydney.edu.au.bloodpressuremonitor">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data
            android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false" />


        <receiver android:name=".tools.clock.LoongggAlarmReceiver">
            <intent-filter>
                <action android:name="com.loonggg.alarm.clock" />
            </intent-filter>
        </receiver>

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlarmSetting"
            android:label="@string/alarm_setting_title" />
        <activity
            android:name=".tools.NewAlarm"
            android:label="@string/new_alarm_title" />
        <activity android:name=".UserSetting" />
        <activity
            android:name=".tools.clock.ClockAlarmActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".KeepAlive"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".DataShare" />
        <activity android:name=".newMeasure"/>
    </application>

</manifest>